@namespace Blazor.AdminLte
@if (!string.IsNullOrEmpty(Value.Label))
{
    <label for="@Value.Identifier">@((MarkupString)Value.Label)</label>
}
<div class="@Styles">
    <input class="form-control @borderColor" id="@Value.Identifier" placeholder="@Value.Placeholder" value="@Value.Value" @onchange="DoChange" type="@Value.Type">

    @if (!string.IsNullOrEmpty(Value.Icon)) {
        <div class="input-group-append">
            <div class="@iconBgColor input-group-text @(Value.CustomizedCss ? "input-button-override" : "")">
                @if (Value.IsIconClickable)
                {
                    <button class="btn btn-secondary btn-sm" @onclick="Value.OnIconClickAction">
                        <span class="@Value.Icon"></span>
                    </button>
                }
                else
                {
                    <span class="@Value.Icon"></span>
                }
            </div>
        </div>
    }
    <div class="input-group">
        <small class="text-danger">
            @((MarkupString)Value.ErrorMessage)
        </small>
    </div>
</div>

@code {
    private string borderColor => Value.BorderColor == Color.Default 
        ? ""
        : $"border-{Value.BorderColor.GetDescription<StyleAttribute>()}";
    
    private string iconBgColor => Value.IconBgColor == Color.Default 
        ? "" 
        : $"bg-{Value.IconBgColor.GetDescription<StyleAttribute>()}";
}